<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Edit Room</title>
</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>Kealifornia</h1></a>
        <nav>

        </nav>
    </div>
</header>
<div class="mainContent">
    <h3>Edit Room</h3>

    <form id="form" action="/updateroom" method="post" th:object="${editroom}" onsubmit="return isEmpty(this)">


        <input type="hidden" th:value="*{room_id}" th:text="${editroom.room_id}">

        <label for="room number">Room Number</label>
        <input type="text" th:value="*{room_number}" th:text="${editroom.room_number}" id="room number" placeholder="room number">

        <label for="capacity">Capacity</label>
        <input type="text" th:value="*{capacity}"  id="capacity" placeholder="Capacity">

        <label for="price">Price</label>
        <input type="text" th:value="*{price}"  id="price" placeholder="price">

        <label for="description">Description</label>
        <input type="text" th:value="*{description}"  id="description" placeholder="description">

        <button class="button" type="submit">Save</button>
        <a  class="button" href="/rooms " role="button" >Cancel</a>

        <script>
            function isEmpty(form){
                var x=form.getElementsByTagName("input");
                for(var i=0;i<x.length;i++){
                    if(x[i].value==0 || x[i].value==""){
                        alert("Please insert " + x[i].id+ "!");
                        return false;
                    }
                }
                return true;
            }
        </script>

    </form>

</div>
</body>
</html>
