<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rooms view</title>


</head>
<body>
<header>
    <div class="container">
        <a href="/"><h1>Kealifornia</h1></a>

        <nav>
            <li>
            <li><a href="/addcustomer">Add Customer</a></li>

            </li>
        </nav>
    </div>
</header>

<div class="mainContent">
    <h2>List of Customers</h2>

    <table id="table">

        <thead>
        <th scope="col">Customer Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        </thead>


        <tr th:each="customer: ${customers}" >
            <th scope="row" th:text="${customer.getCustomer_id()}">1</th>
            <td th:text="${customer.getFirst_name()}">{{First Name}}</td>
            <td th:text="${customer.getLast_name()}">{{Last Name}}</td>
            <td th:text="${customer.getPhone_number()}">{{Phone Number}}</td>

            <td>
                <a role="button" class="button" th:href="@{'/customer/edit/' + ${customer.customer_id}}" >Edit</a>
            </td>

            <td>
                <a role="button" class="button" th:href="@{'/customer/delete/' + ${customer.customer_id}}" >Delete</a>
            </td>
        </tr>

    </table>
</div>
</body>
</html>
