<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h3>Booking summary</h3>

<table>
    <tr>
    <th>Name</th>
    <th>Checkin date</th>
        <th>Checkout date</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Room number</th>
    </tr>
        <tr th:each="booking: ${bookings}" >
            <th scope="row" th:text="${booking.booking_id}">1</th>
            <td th:text="${booking.check_in}">{{Check-in}}</td>
            <td th:text="${booking.check_out}">{{Check-out}}</td>
            <td th:text="${booking.persons}">{{Number of Persons}}</td>
            <td th:text="${booking.number_of_rooms}">{{Number of Rooms}}</td>
            <td th:text="${booking.customer.first_name}">{{Customer}}</td>
            <td th:text="${booking.room.room_number}">{{Room Number}}</td>
    </tr>
    </form>
</table>


</body>
</html>